@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: blue;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: 'Racing Sans One', cursive;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
} 

header::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    height: 5px;
    width: 40%;
    background: linear-gradient(90deg, var(--primary), transparent);
}

.logo{
    font-size: 30px;
    color: white;
}
.logo img{
    max-width: 200px;
    filter: invert(1);
}

header .year{
    font-family: 'Racing Sans One', cursive;
    font-size: 1em;
    color: white;
    letter-spacing: 1px;
    font-weight: 800;
    margin-top: 40px;
}

header .menu{
    position: relative;
    height: 30px;
    width: 30px;
    background: url(./menu-3-fill.png) no-repeat;
    background-size: 30px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
}

header .menu.active{
    position: relative;
    height: 30px;
    width: 30px;
    background: url(./close-line.png) no-repeat;
    background-size: 35px;
    background-position: center;
    filter: invert(1);
    cursor: pointer;
} 

/*  Navigation */

.nav{
    z-index: 200;
    position: absolute;
    right: 100px;
    top: 0;
    width: 35%;
    height: 5px;
    border-bottom: 5px solid;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        var(--primary), 
        var(--primary)
        )
        30;
        background: transparent;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s;
        transform-origin: right;
}

.nav.active{
    top: 100px;
    width: 40%;
    height: 100px;
    border-top: 5px solid;
    border-bottom: none;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        var(--primary), 
        var(--primary),
        transparent
        )
        30;
}

.nav li{
    opacity: 0;
    list-style: none;
    position: relative;
    visibility: hidden;
    transform: translateY(-100px);
    transition: 0.5s;
}

.nav.active li{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.nav li a{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 8px 20px;
    transition: 0.2s;
    cursor: pointer;
}

.nav li a:hover{
    box-shadow: inset 0 0 20px rgb(0, 194, 222, 0.5);
}

/* Banner */

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
}

.banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.9)
        );
}

.banner::before{
    position: absolute;
    content: '';
    top: 25%;
    left: 0;
    width: 5px;
    height: 40%;
    background: linear-gradient(var(--primary), transparent);
    z-index: 100;
}

/* Background Video */

.banner .bg-video{
    display: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner .bg-video.active{
    display: block;
}

/* Banner Content*/

.banner .content{
    position: relative;
    max-width: 700px;
    padding-bottom: 200px;
    z-index: 100;
}

.banner .content h1{
    font-family: 'Racing Sans One', cursive;
    font-size: 10em;
    color: white;
    font-weight: 500;
    line-height: 0.8em;
    letter-spacing: 5px;
}

.banner .content .model{
    font-size: 4em;
    text-transform: uppercase;
    color: var(--primary);
    display: none;
}

.banner .content .model.active{
    display: block;
}

.banner .content p{
    color: white;
    font-size: 200;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

.banner .content a{
    position: relative;
    width: 200px;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 50px;
    background: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        var(--primary), 
        var(--primary),
        transparent
        )
        30;
    box-shadow: inset 0 0 10px rgb(0, 194, 222, 0.5);
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.5s;
}

.banner .content a:hover{
    box-shadow: inset 0 0 50px rgb(0, 194, 222, 0.5);;
}

/* Screen*/

.banner .screen {
    position: absolute;
    right: 10%;
    bottom: 100px;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 30s linear infinite;
    z-index: 100;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.screen div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.screen div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(transparent, var(--primary));
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    /* 300px / 2 = 150px */
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

/* Screen Video */
.screen div span video {
    position: absolute;
    bottom: 0;
    height: 75%;
    width: 100%;
    transition: 0.5s;
    object-fit: cover;
    object-position: center;
}

.trailer {
    display: none;
}

.trailer.active {
    display: block; /* Changed to display block to make the trailer visible */
}

/* Banner Gallery*/

.banner .gallery{
    position: absolute;
    content: '';
    left: 100px;
    bottom: 0;
    width: 55%;
    height: 30%;
    z-index: 100;
    background-color: transparent;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5), 
    0px -10px 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .gallery::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background: var(--primary);
    filter: blur(15px);
}

.banner .gallery .carousel{
    width: 100%;
    height: 100%;
}

.carousel .carousel-item{
    width: 250px;
    cursor: pointer;
}

.carousel .carousel-item img{
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.carousel .carousel-item h4{
    text-align: center;
    columns: var(--primary);
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Social Icons*/

.sci{
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sci li{
    list-style: none;
}

.sci li a {
    text-decoration: none;
    color: white;
    font-size: 1.6em;
    transition: 0.3s;
}

.sci li a:hover{
    color: var(--primary);
}

.container {
    display: flex;
    height: 100vh;
}

/* Left Section Styles */
.left {
    flex: 1;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    animation: slide-in-left 1s ease-out;
}

.left .log-left {
    position: relative;
    width: 200px;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 50px;
    background: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        white,
        green,
        red,
        gold,
        blue,
        green,
        black,
        transparent
        )
        30;
    box-shadow: inset 0 0 10px green;
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.5s;
}

.left .log-left:hover{
    box-shadow: inset 0 0 50px green;
}

/* Right Section Styles */
.login-right {
    flex: 1;
    background: url('/mclaren-2.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease-out;
}

.right {
    flex: 1;
    background: url('/mclaren-1.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 1s ease-out;
}

/* Login Form Styles */
.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: pop-in 0.5s ease-out;
}

.login-form a {
    width: 270px;
    color: red;
}

.login-form img {
    width: 250px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    transition: color 0.3s ease;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-input-wrapper {
    display: flex;
    align-items: center;
}
.country-code {
    padding: 10px;
    border-right: none;
}
.phone-number {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
}

.login-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button[type="button"] {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.login-form button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.login-form button[type="button"]:hover {
    background-color: #f1f1f1;
}

.login-form h5 {
    transition: color 0.3s ease;
}

.login-form h5:hover {
    color: #ff0000;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slide-in-left {
    from { transform: translateX(-150%); }
    to { transform: translateX(0); }
}

@keyframes pop-in {
    from { transform: scale(0); }
    to { transform: scale(1); }
}


.left a{
    color: white;
    z-index: 100;    
}

.left a .button{
    color: red;
    font-size: 28px;
    margin-top: 150px;
    margin-left: -200px;
}


.container {
    display: flex;
    height: 100vh;
}

/* Left Section Styles */
.left {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.left video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.left h1{
    z-index: 100;
}
.left a{
    position: relative;
    width: 200px;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px 50px;
    margin
    background: transparent;
    border-bottom: 3px solid;
    border-image: linear-gradient(
        90deg, 
        transparent, 
        white,
        red,
        gold,
        green,
        blue,
        black,
        transparent
        )
        30;
    box-shadow: inset 0 0 10px red;
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    transition: 0.5s;
}

.left a:hover{
    box-shadow: inset 0 0 50px red;
}


/* Right Section Styles */
.signup-right {
    flex: 1;
    background: url('/mclaren-4.jpeg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Signup Form Styles */
.signup-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form img{
    width: 250px;
    margin-bottom: 20px;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #444;
}



.password-container {
    position: relative;
    width: 100%;
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* Add space for the icon */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    display: none;
}




.alert-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}








@media (max-width:600px){
    header{
        padding: 20px 50px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    header::after{
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--primary);
    }

    .logo{
        margin-top: 10px;
    }

    .nav{
        right: 0;
        width: 100%;
        background: black;
    }

    .nav.active{
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        /*border: none;*/
    }

    .banner{
        padding: 50px 30px 100px;
    }

    .banner .content{
        position: relative;
        padding: 50px 0 100px;
    }

    .banner .content h1{
        font-size: 5em;
    }

    .banner .content .model{
        font-size: 2em;
    }

    .banner .content a{
        padding: 10px 40px;
    }

    .banner .screen{
        display: none;
    }

    .banner .gallery{
        width: 100%;
        left: 0;
    }

    .sci{
        right: 20px;
    }

    .banner .product-list{
        margin-left: -50px;
        margin-top: 70px;
    }


}


.new-arrivals {
    text-align: center;
    padding: 20px;
    margin-top: 90px;
    margin-right: 45px;
}

.new-arrivals h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-arrivals p {
    font-size: 16px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.product-card {
    border: 3px solid #e0e0e0;
    margin-left: 50px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    position: relative;
    width: 350px; /* Adjust width to fit within the grid column */
    margin-top: 100px;
}

.product-card img {
    width: 280px;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.preorder {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: green;
}

.product-info h2 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.product-info p {
    font-size: 12px;
    color: #666;
}

.wishlist {
    position: absolute;
    top: 10px;
    right: 10px;
}

.wishlist img {
    width: 20px;
    height: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr; /* 1 item per row on very small screens */
    }
}

/* Footer styles */
.footer {
    background-color: rgba(255, 255, 255, 0.507);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
}

.footer-subscribe {
    margin-bottom: 0px;
}

.footer-subscribe p {
    margin: 0 0 0px;
}

.footer-subscribe form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-subscribe input {
    padding: 10px;
    border: none;
    margin-right: 10px;
    width: 200px;
}

.footer-subscribe button {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-column {
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, blue, white, blue, white, blue, white, blue, white, blue);
    
}
::-webkit-scrollbar-track{
    background-color: blue;
}




.new-arrivals {
    text-align: center;
    padding: 20px;
    margin-right: 45px;
}

.new-arrivals h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-arrivals p {
    font-size: 16px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.new-arrivals .back-link {
    color: white;
    font-size: 35px;
    background: url(abst.jpg);
    border-radius: 100px;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.product-card {
    border: 3px solid #e0e0e0;
    margin-left: 50px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 350px; /* Adjust width to fit within the grid column */

}

.product-card img {
    width: 280px;
    height: 150px;

    margin-bottom: 10px;
    border-radius: 10px;
}

.product-card:hover {
    transition: 0.7s;
    filter: grayscale(0);
    transform: scale(1.05);
}


.add-to-cart {
    display: none; /* Hides the button by default */
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.product-card:hover .add-to-cart {
    display: block; /* Shows the button when the product card is hovered over */
}

.add-to-cart:hover {
    background-color: rgba(0, 0, 255, 0.534);
}

.preorder {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: green;
}

.product-info h2 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.product-info p {
    font-size: 12px;
    color: #666;
}


.product-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 220px); /* Adjust to fit the card height */
}

.product-description {
    font-size: 18px;
    color: white;
    margin-bottom: 16px;
}

.product-price {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.637);
    font-weight: bold;
}

.product-info .logo {
    width: 120px;
    margin-top: -50px;
    margin-left: 168px;
    height: 30px;
    color: white;
    display: none;
}

.product-card:hover .product-info img {
    display: block; /* Shows the image when the product card is hovered over */
    margin-bottom: 35px;
    height: 50px;
}


.product-card:hover .product-info p {
    display: none; /* Shows the paragraph when the product card is hovered over */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr; /* 1 item per row on very small screens */
    }
}




.back{
    background-color: rgb(255, 81, 0);
    font-size: 30px;
}



.product-container {
    display: flex;
    margin-top: 100px;
    margin-top: 100px;
    color: white;
    justify-content: space-between;
}

.main-image img{
    width: 1000px;
    height: 500px;
    margin-left: 0px;
    margin-right: 300px;
}

.product-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: -200px;
    margin-top: 150px;
    gap: 10px;
}

.product-images img {
    max-width: 110px;
    height: auto;
    border: 1px solid white;
    border-radius: 20px;
    margin-top: 10px;
}

.product-details {
    flex: 1;
    padding: 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    margin-bottom: 20px;
}

.color-selection,
.size-selection {
    margin-bottom: 20px;
}

.color-options,
.size-options {
    display: flex;
    gap: 10px;
}

.color-option {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
}

.color-option.black {
    background-color: #000;
}

.color-option.white {
    background-color: #fff;
    border: 1px solid #000;
}

.size-option {
    padding: 5px 10px;
    border: 1px solid #000;
    cursor: pointer;
}

.quantity-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-image{
    margin-left: ;
}

.quantity-decrease,
.quantity-increase {
    border: 1px solid #000;
    padding: 5px;
    cursor: pointer;
}

.quantity-selection input {
    width: 40px;
    text-align: center;
    border: 1px solid #000;
    margin: 0 5px;
}

.add-to-cart {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-to-cart:hover {
    background-color: #444;
}

.details,
.size-guide {
    margin-bottom: 20px;
}

.suggestions {
    margin-top: 40px;
}

.suggestions-container {
    display: flex;
    margin-left: 65px;
    gap: 20px;
}

.suggestion-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.suggestion-item img {
    max-width: 270px;
    height: 150px;
    margin-bottom: 10px;
}

.availability {
    color: green;
}



.login-form a{
    color: white;
}


.button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.button[type="button"] {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.button[type="button"]:hover {
    background-color: #f1f1f1;
}
